/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
}

button:focus,
button:hover {
    box-shadow: 0px 0px 5px 0px black;
}

input {
    text-align: right;
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgb(214, 213, 213);
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 225px;
}

input:focus,
input:focus {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input::placeholder {
    color: white;
}

select {
    background: transparent;
    border: none;
    color: white;
    font-size: 22.5px;
}

select:hover,
select:focus {
    box-shadow: 0px 0px 5px 0px black;
}

select option {
    /* font-size: 22.5px; */
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
    border-radius: 45px;
    background-color: rgb(0, 128, 255);
    color: white;
}